<div class="column is-one-third">
  <div class="card">
    <div class="title">
      <%= customer.fullname%>
    </div>
    <div class="card-content">
      <p> <strong> Phone Number: </strong> <%= customer.phoneNumber %></p>
      <p> <strong> Email: </strong> <%= customer.email %> </p>

      <strong> Notes: </strong>
      <p><%= customer.notes %></p>
    </div>
  </div>
</div>